.Footer-container {
  position: relative;
  width: 80%;
  margin: auto;
}

.Footer-container > hr {
  border: 1px solid var(--lightgray);
}

.footer {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  height: 20rem;
}

.social-links {
  display: flex;
  gap: 4rem;
}

.social-links > img {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.logo-f > img {
  width: 10rem;
}

.footer > p {
  display: flex;
  align-items: center;
  justify-content: center;
}